apiVersion: apps/v1
kind: Deployment
metadata:
  name: livekit
  namespace: iwouldargue
spec:
  replicas: 1
  selector:
    matchLabels:
      app: livekit
  template:
    metadata:
      labels:
        app: livekit
    spec:
      containers:
        - name: livekit
          image: livekit/livekit-server:latest
          ports:
            - containerPort: 7880
          envFrom:
            - configMapRef:
                name: livekit-config
            - secretRef:
                name: livekit-secret

---

apiVersion: v1
kind: Service
metadata:
  name: livekit
  namespace: iwouldargue
spec:
  selector:
    app: livekit
  ports:
    - port: 8000
