apiVersion: apps/v1
kind: Deployment
metadata:
  name: metadata-service
  namespace: iwouldargue
spec:
  replicas: 1
  selector:
    matchLabels:
        app: metadata-service
  template:
    metadata:
      labels:
        app: metadata-service
    spec:
      containers:
        - name: metadata-service
          image: registry.local:5000/metadata-service:latest
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: metadata-service-config
            - secretRef:
                name: metadata-service-secret
          resources:
            requests:
              cpu: "300m"
              memory: "512Mi"
            limits:
              cpu: "2"
              memory: "1Gi"
          readinessProbe:
            httpGet:
              path: /actuator/health/readiness
              port: 8080
          livenessProbe:
            httpGet:
              path: /actuator/health/liveness
              port: 8080

---

apiVersion: v1
kind: Service
metadata:
  name: metadata-service
  namespace: iwouldargue
spec:
  selector:
    app: metadata-service
  ports:
    - port: 8080
      targetPort: 8080

---

apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: metadata-service
  namespace: iwouldargue
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: metadata-service
  minReplicas: 1
  maxReplicas: 10
  metrics:
    - type: Resource
      resource: 
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70

